/* ========== Global Reset ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
/* ========== Layout ========== */

.maincontainer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 
  minmax(60vh, 90vh)  /* Hero */
  max-content max-content /* Box1 */
  max-content max-content /* Box2 */
  1fr; /* Footer */
  grid-template-areas: 
    "cover"
    "box1"
    "box2"
    "footer";
  background-color: #f8f8f8;
  overflow-x: hidden;
}

/* ========== Hero Section ========== */
#boxed {
  grid-area: cover;
  position: relative;
  width: 100%;
  min-height: clamp(40vh, 80vh, 100vh);
  background: url("../images/hazzy.jpg") center 40% / cover no-repeat;
  display: grid;
  grid-template-areas: "navbar_layer";
  
}

.gray_layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(48, 44, 44);
  opacity: 0.5;
  z-index: 1;
}

.center {
  position: absolute;
  top: 40%;
  width: 100%;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  z-index: 2;
}

/* ========== Navbar ========== */
#nav_layer {
  grid-area: navbar_layer;
  position: fixed;
  width: 100%;
  z-index: 3;
  display: grid;

  grid-template-columns: auto;
  align-items: center;

  background: linear-gradient(to bottom, #2a2a2a, #1a1a1a);
  border-bottom: 0.0125em solid #000;
  box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.6);
}

nav ul {
  list-style: none;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: hotpink;
}

.active {
  background-color: #04AA6D;
  border-radius: 0.1em;
}

/* ========== Typography ========== */
h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

h2{
  font-size: 1.8rem;
  color: #000;
}

h3,h5,h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #444;
  font-weight: 400;
  line-height: 1.6;
}

h3, h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.6rem;
  line-height: 1.5;
}

h4 {
  font-size: 1.7rem;
  color: #000;
}

.small_title{
  font-size: 1.01rem;
  color: #000;
  line-height: 1;
}

.nav_text{
  font-size: 2rem;
  font-family: serif;
  text-align: center;
  }


/* ========== Utility Classes ========== */

.wrapperR,.wrapperR2, .wrapperL, .wrapperL2, .wrapperC {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 0;
  
}

.wrapperR{
  justify-content: flex-end;
  align-items: flex-end;
}

.wrapperR2 {
  justify-content: flex-start;
  align-items: flex-end;
}

.wrapperL, .wrapperL2 { justify-content: flex-start; }
.wrapperC { justify-content: center; 
align-items: center;}

/* ========== Box1 Section ========== */
#box1 {
  grid-area: box1;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-areas: "side1 side2";
  margin: 0 10em;
  gap: 2rem;
  background-color: #f8f8f8;
  padding-top: 2rem;
}

#side1, #side2 {
  display: grid;
  position: relative;
}

#side1 {
  grid-area: side1;
  grid-template-columns: auto;
  grid-template-rows: max-content max-content;
  grid-template-areas: "picture1" "textv1";
  margin: 0;
  padding-top: 2em;
  row-gap: 1em;

}

#side2 {
  grid-area: side2;
  grid-template-columns: auto;
  grid-template-rows: max-content max-content max-content;
  grid-template-areas: 
    "textv3"
    "textv2"
    "picture2";

  margin: 0;
  padding: 0;
  
}

#textv1, #textv2, #textv3 {
  text-align: start;
  height: fit-content;
}

#textv1{
  grid-area: textv1;
  width: clamp(13.25rem,25vw,36.5rem);
  margin-bottom: 1rem;
  
}

#textv2 {
  grid-area: textv2;
  width: clamp(13rem,25vw,36rem);
}

#textv3 {
  grid-area: textv3;
  width: clamp(12.5rem,25vw,35rem);
}

/* ========== Box2 Section ========== */
#box2 {
  grid-area: box2;
  display: grid;
  grid-template-areas: "side3" "side4";
  padding-top: 4rem;
  margin: 0 15rem;
  gap: 2rem;
}

#side3, #side4 {
  display: grid;
  position: relative;
}

#side3 {
  grid-area: side3;
  grid-template-areas: "textv7";
}

#side4 {
  grid-area: side4;
  grid-template-columns: auto auto auto;
  grid-template-areas: "pt1 pt2 pt3";
  align-items: start;
}

#pt1, #pt2, #pt3 {
  display: grid;
  grid-template-rows: auto auto;
  gap: 1rem;
}

#pt1 { grid-area: pt1; }
#pt2 { grid-area: pt2; }
#pt3 { grid-area: pt3; }

#textv4{
  grid-area: textv4;
}

#textv5{
  grid-area: textv5;
}

  #textv6{
  grid-area: textv6;
}

#textv4, #textv5, #textv6 {
  width: clamp(8rem,16vw,26rem);
  text-align: start;
}

#textv7 {
  grid-area: textv7;
  width: clamp(15rem,30vw,40rem);
  text-align: center;
}

/* ========== Images ========== */
#picture1, #picture2, #picture3, #picture4, #picture5 {
  background-size: cover;
  background-position: center;
}

#picture1 {
  grid-area: picture1;
  background-image: url("../images/flowers.jpg");
  height: clamp(21.5rem,43vh,55rem);
  width: clamp(12.5rem,25vw,35rem);
}

#picture2 {
  grid-area: picture2;
  background-image: url("../images/HIP_FOOD.jpg");
  height: clamp(21.5rem,43vh,53rem);
  width: clamp(12.5rem,25vw,35rem);
}

#picture3 {
  grid-area: picture3;
  background-image: url("../images/pennstate.jpg");
  height: clamp(10rem,25vh,25rem);
  width: clamp(8rem,16vw,45rem);
}

#picture4 {
  grid-area: picture4;
  background-image: url("../images/integration.webp");
  height: clamp(10rem,25vh,25rem);
  width: clamp(8rem,16vw,45rem);
}

#picture5 {
  grid-area: picture5;
  background-image: url("../images/park.webp");
  height: clamp(10rem,25vh,25rem);
  width: clamp(8rem,16vw,45rem);
}

/* ========== Footer ========== */
#footer {
  grid-area: footer;
  background-color: white;
  display: grid;
  grid-template-areas: "box3";
  padding-bottom: 5em;
}

#box3 {
  grid-area: box3;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1em;
  padding-top: 4rem;
  margin: 0 15rem;
  align-items: start;

  grid-template-areas: "side5 side6 side7 side8";
  
}

#side5, #side6, #side7, #side8 {
  width:clamp(3.5rem,7vw,17rem);
  text-align: center;
}

#side5{
grid-area: side5;
}

#side6{
grid-area: side6;
}

#side7{
grid-area: side7;
}

#side8{
grid-area: side8;
}






/*================Mobile Development===========*/




@media (max-width: 480px) {
  .maincontainer {
    grid-template-rows: 
      minmax(40vh, 50vh)  /* Hero */
      max-content max-content /* Box1 */
      max-content max-content /* Box2 */
      1fr;               /* Footer */
  }
 #boxed {
    min-height: 40vh;
    height: 50vh;
    background-position: center 30%;
    
  }

  /* ========== Typography ========== */
  h1 {
  font-size: 2rem;
  }

  h2{
    font-size: 1.6rem;
  }

  h3, h5 {
    font-size: 0.8rem;
  }

  h6 {
    font-size: 0.6rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  .small_title{
    font-size: 1.01rem;
  }

  .nav_text{
    font-size: 2rem;
  }


  /* ========== Box1 Section ========== */
  #box1 {
    padding-top: 4rem;
    margin: 0 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: fit-content fit-content;
    grid-template-areas: "side2" "side1";
    gap: 0.01rem;
    background-color: #f8f8f8;
    justify-content: center;
    justify-items: center;
  }


  #textv1, #textv2, #textv3 {
  text-align: center;
  height: fit-content;
  }

  #textv1{
    width: clamp(10.25rem,25vw,36.5rem);
    
  }

  #textv2 {
    width: clamp(10rem,25vw,36rem);
  }

  #textv3 {
    width: clamp(9.5rem,25vw,35rem);
  }


  /* ========== Box2 Section ========== */
  #box2 {
    grid-area: box2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: fit-content fit-content;
    grid-template-areas: "side3" "side4";
    padding-top: 8rem;
    margin: 0 1rem;
    gap: 2rem;
  }

  #side3, #side4 {
    display: grid;
    position: relative;
  }

  #side3 {
    grid-area: side3;
    grid-template-areas: "textv7";
  }

  #side4 {
    grid-area: side4;
    grid-template-rows: fit-content fit-content fit-content;
    grid-template-columns: 1fr;
    grid-template-areas: "pt1" "pt2" "pt3";
    align-items: start;
  }

  #pt1, #pt2, #pt3 {
    display: grid;
    grid-template-rows:fit-content fit-content;
    gap: 0rem;
    justify-content: center;
    justify-items: center;
    padding-top: 1rem;
  }

  #pt1 { grid-area: pt1; }
  #pt2 { grid-area: pt2; }
  #pt3 { grid-area: pt3; }

  #textv4, #textv5, #textv6 {
    width: clamp(8rem,16vw,26rem);
    text-align: center;
  }

  #textv7 {
    grid-area: textv7;
    width: clamp(15rem,30vw,40rem);
    text-align: center;
  }

  /* ========== Images ========== */

  #picture1 {
    height: clamp(5rem,20vh,55rem);
    width:100%;
  }

  #picture2 {
    height: clamp(5rem,20vh,55rem);
    width:100%;
  }

  #picture3 {
    height: clamp(5rem,20vh,55rem);
    width:100%;
  }

  #picture4 {
    height: clamp(5rem,20vh,55rem);
    width:100%;
  }

  #picture5 {
    height: clamp(5rem,20vh,55rem);
    width:100%;
  }

  
/* ========== Footer ========== */
#footer {
  grid-area: footer;
  background-color: white;
  display: grid;
  grid-template-areas: "box3";
  padding-bottom: 5rem;
}

#box3 {
  grid-area: box3;
  display: grid;
  grid-template-columns: fit-content fit-content fit-content fit-content;
  gap: 1rem;
  margin: 1rem;
  padding-top: 4rem;
  align-items: start;
  grid-template-areas: "side5 side6 side7 side8";
  
}

  #side5, #side6, #side7, #side8 {
    width:100%;
    text-align: center;
  }

}

/*=========Tablet Development/Small Desktops=======*/
@media (min-width: 481px) and (max-width: 1024px) {
  .maincontainer {
    grid-template-rows: 
      minmax(30vh, 50vh)  /* Hero */
      max-content max-content/* Box1 */
      max-content max-content /* Box2 */
      1fr;               /* Footer */
  }
 #boxed {
    min-height: 30vh;
    height: 50vh;
    background-position: center 30%;
  }

  /* ========== Typography ========== */
  h1 {
  font-size: 3rem;
  }

  h2{
    font-size: 2rem;
  }

  h3, h5 {
    font-size: 1.1rem;
  }

  h6 {
    font-size: 1rem;
  }

  h4 {
    font-size: 1.7rem;
  }

  .small_title{
    font-size: 1.6rem;
  }

  .nav_text{
    font-size: 2.4rem; 
  }

/* ========== Box1 Section ========== */
#box1 {
  grid-area: box1;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-areas: "side1 side2";
  margin: 0 1em;
  gap: 1rem;
  background-color: #f8f8f8;
  padding-top: 2rem;
}

#side1, #side2 {
  display: grid;
  position: relative;
}

#side1 {
  grid-area: side1;
  grid-template-columns: auto;
  grid-template-rows: max-content max-content;
  grid-template-areas: "picture1" "textv1";
  margin: 0;
  padding-top: 2em;
  row-gap: 1em;

}

#side2 {
  grid-area: side2;
  grid-template-columns: auto;
  grid-template-rows: max-content max-content max-content;
  grid-template-areas: 
    "textv3"
    "textv2"
    "picture2";

  margin: 0;
  padding: 0;
  
}

#textv1, #textv2, #textv3 {
  text-align: start;
  height: fit-content;
}

  #textv1{
    width: 100%;
  }

  #textv2 {
    width: 100%;
  }

  #textv3 {
    width: 100%;
  }

  /* ========== Box2 Section ========== */
  #box2 {
    grid-area: box2;
    display: grid;
    grid-template-areas: "side3" "side4";
    padding-top: 8rem;
    margin: 0 1rem;
    gap: 2rem;
  }


  #side4 {
    grid-area: side4;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "pt1 pt2 pt3";
    gap: 1em;
    align-items: start;
  }

  #pt1, #pt2, #pt3 {
    display: grid;
    grid-template-rows: max-content max-content;
    gap: 1rem;
  }

  #pt1 { 
    grid-area: pt1;
    grid-template-areas: "textv4" "picture3"; 
  }

  #pt2 { 
    grid-area: pt2;
    grid-template-areas: "textv5" "picture4"; 
  }

  #pt3 { 
    grid-area: pt3; 
    grid-template-areas: "textv6" "picture5";
  }

  #textv4, #textv5, #textv6 {
    width: 100%;
    text-align: center;
  }

  #textv7 {
    grid-area: textv7;
    width: 60%;
    text-align: center;
  }



  
/* ========== Footer ========== */
#footer {
  grid-area: footer;
  background-color: white;
  display: grid;
  grid-template-areas: "box3";
  padding-bottom: 5em;
}

  #box3 {
    grid-area: box3;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1em;
    padding-top: 4rem;
    margin: 0rem;
    align-items: start;

    grid-template-areas: "side5 side6 side7 side8";
    
  }

  #side5, #side6, #side7, #side8 {
    width:100%;
  }


/* ========== Utility Classes ========== */

  #picture1 {
    height: clamp(5rem,20vh,55rem);
    width:100%;
  }

  #picture2 {
    height: clamp(5rem,20vh,55rem);
    width:100%;
  }

  #picture3 {
    height: clamp(5rem,20vh,55rem);
    width:100%;
  }

  #picture4 {
    height: clamp(5rem,20vh,55rem);
    width:100%;
  }

  #picture5 {
    height: clamp(5rem,20vh,55rem);
    width:100%;
  }
}

/*================medium laptop Development===========*/
@media (min-width: 1025px)  and (max-width: 1599px){
  
}

@media (min-width: 1600px) {
  .maincontainer {
    grid-template-rows: 
      minmax(55vh, 70vh)  /* Hero */
      max-content max-content /* Box1 */
      max-content max-content /* Box2 */
      1fr;               /* Footer */
  }
 #boxed {
    min-height: 50vh;
    height: 65vh;
    background-position: center 30%;
  }




  /* ========== Footer ========== */
  #footer {
  grid-area: footer;
  background-color: white;
  display: grid;
  grid-template-areas: "box3";
  padding-bottom: 5em;
  }

  #box3 {
    grid-area: box3;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1em;
    padding-top: 4rem;
    margin: 0rem;
    align-items: start;

    grid-template-areas: "side5 side6 side7 side8";
    
  }

  #side5, #side6, #side7, #side8 {
    width:100%;
  }


  /* ========== Typography ========== */
  h1 {
  font-size: 7rem;
  }

  h2{
    font-size: 3rem;
  }

  h3, h5 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.7rem;
  }

  .small_title{
    font-size: 2rem;
  }

  .nav_text{
    font-size: 6rem;
  }

   /* ========== Images ========== */
#picture1 {
    height: clamp(20rem,30vh,50rem);
  }

#picture2 {
    height: clamp(20rem,30vh,50rem);
  }
  
}