/* ========== Start-Global-Reset ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
/* ========== Ends-Global-Reset ========== */

/* ========== Starts-Layout ========== */
.maincontainer {
  min-height: 100vh;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows:
  max-content 
  minmax(60vh, 90vh)  /* Hero */
  max-content 
  max-content 
  1fr; /* Footer */
  grid-template-areas:
    "navbar_layer" 
    "cover"
    "box1"
    "box2"
    "footer";
  background-color: #f8f8f8;
  overflow-x: hidden;
}
/* ========== Ends-Layout ========== */

/* ==========Start-Navbar ========== */
#nav_layer {
  grid-area: navbar_layer;
  position: fixed;
  width: 100%;
  z-index: 3;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  background: linear-gradient(to bottom, #2a2a2a, #1a1a1a);
  border-bottom: 0.0125em solid #000;
  box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.6);
}

nav ul {
  list-style: none;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: hotpink;
}

.active {
  background-color: #04AA6D;
  border-radius: 0.1em;
}
/* ========== Ends-Navbar ========== */

/* ========== Hero Section ========== */
#boxed {
  grid-area: cover;
  position: relative;
  width: 100%;
  min-height: clamp(40vh, 80vh, 100vh);
  background: url("../images/handsv1.jpg") center 40% / cover no-repeat;
  display: grid;
  grid-template-areas: "title";
  grid-column: 1fr;
  grid-row: 1fr;
}

.gray_layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(48, 44, 44);
  opacity: 0.5;
  z-index: 1;
}
#title{
  justify-content: center;
  align-content: center;
  color: white;
  z-index: 2;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

/* ========== Typography ========== */
h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

h2{
  font-size: 1rem;
  color: #000000;
 text-shadow: 0.05rem 0.05rem 0 #666;


}

h3,h5,h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #444;
  font-weight: 400;
  line-height: 1.6;
}

h3, h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.6rem;
  line-height: 1.5;
}

h4 {
  font-size: 1.7rem;
  color: #000;
}

#description {
  font-size: 0.8rem;
  color: #f8f8f8;
  font-weight: bold;
  justify-self: center;
  width: 50%;
  text-align: center;
}

#footer a {
    color: inherit;
    text-decoration: none; /* optional */
}

.big_title{
    font-size: 5rem;
    color: #000;
    line-height: 1;
    text-shadow: 
    0.1rem 0.1rem 0rem #4a4545,
    0.2rem 0.2rem 0rem #4a4545,
    0.3rem 0.3rem 0.3rem #4a4545;
    font-weight: bold;
}



.nav_text{
    font-size: 2rem;
    font-family: serif;
    text-align: center;
  }


/* map Features*/
iframe{
    width:100%;
    height: clamp(25rem,4vh,30rem);

}

.button:hover {
    background: linear-gradient(to right, #444, #222);
    transform: scale(1.03);
    box-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.6);
}
.button:active {
  transform: scale(0.93);
}

/* ========== Box1 Section ========== */
#box1 {
    grid-area: box1;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: max-content;
    grid-template-areas: "side1";
    margin: 0rem;
    gap: 0.5rem;
    background-color: #f8f8f8;
    padding-top: 4rem;
    padding-bottom: 2rem;
    justify-content: center;
}

#side1{
    display: grid;
    position: relative;
    margin: 0;
    padding: 0;
    gap: 1rem;
    justify-self: center;
}

#side1 {
    grid-area: side1;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: stretch; 
    grid-template-areas: 
    "boxed1 boxed2";
    width: 50%;
    
}


#boxed1, #boxed2{
    border: 0.125rem solid #5d5555;
    border-radius: 0.8rem;
    border-color: #000;
    box-shadow: 0.1rem 0.2rem 0.2rem #4a4545;
    width: 100%;
    transition: all 0.3s ease;
    text-align: center;
    height: 100%;
    word-wrap: break-word;
}

#boxed1:hover, #boxed2:hover{
  transform: scale(1.03);
  box-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.6);
} 


#boxed1{
  display: grid;
    padding-top: 1rem;
    grid-area: boxed1;
    

}

#boxed2{
    display: grid;
    grid-area: boxed2;
    grid-template-areas: "picture1";

}

#box2 {
  grid-area: box2;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: max-content;
  grid-template-areas: "side2";
  margin: 0 4em;
  gap: 0.5rem;
  background-color: #f8f8f8;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

#side2{
  display: grid;
  grid-area: side2;
}


/* ========== Footer ========== */
#footer {
  grid-area: footer;
  background-color: #f8f8f8;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  grid-template-areas: "side3";
  padding-bottom: 5em;
  width: 100%;
  justify-content: center;
  justify-self: center;    /* centers the footer itself */
}

#side3 {
  grid-area: side3;
  display: grid;
  grid-template-columns: repeat(4,minmax(0, 1fr));
  grid-row: auto;
  justify-content: stretch;
  grid-template-areas: "boxed3 boxed4 boxed5 boxed6";
  gap: 0rem;
}

#boxed3, #boxed4, #boxed5, #boxed6 {
    display: grid;
    width: 100%;
    text-align: center;
    height: fit-content;
    word-wrap: break-word;
    justify-content: stretch;
}

#boxed3{
    grid-area: boxed3;
}

#boxed4{
    grid-area: boxed4;
}

#boxed5{
    grid-area: boxed5;
}

#boxed6{
    grid-area: boxed6;
}


/* ========== Images ========== */
#pic1 {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
    border-bottom: 0.1rem solid;

    background-image: url("../images/handsv2.jpg");
}

#pic1 {
  grid-area: picture1;
  background-image: url("../images/handsv2.jpg");
}

/*================Mobile Development===========*/
@media (max-width: 480px) {
  .maincontainer {
    min-height: 100vh;
    grid-template-rows: 
    min-content
    minmax(40vh, 50vh)  /* Hero */
    max-content /* Box1 */
    max-content /* Box2 */
    1fr;               /* Footer */
    row-gap: 1rem;
  }

 #boxed {
    min-height: 40vh;
    height: 50vh;
    background-position: center 30%;
  }

  /* ========== Typography ========== */
  h1 {
  font-size: 2rem;
  }

  h2{
    font-size: 1.6rem;
  }

  h3, h5 {
    font-size: 0.8rem;
  }

  h6 {
    font-size: 0.6rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  .small_title{
    font-size: 1.01rem;
  }

  .nav_text{
    font-size: 1.3rem;
  }
  

  
#boxed1, #boxed2{
    border: 0.125rem solid #5d5555;
    border-radius: 0rem;
    border-color: #000;
    box-shadow: 0.1rem 0.2rem 0.2rem #4a4545;
    width: 100%;
    transition: all 0.3s ease;
    text-align: center;
    height: 100%;
    word-wrap: break-word;
}

#pic1 {
    border-radius: 0.1rem;
    border-bottom: 0rem solid;

    background-image: url("../images/handsv2.jpg");
}


/* ========== Box1 Section ========== */
#box1 {
    grid-area: box1;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: max-content;
    grid-template-areas: "side1";
    margin: 0.1rem;
    gap: 0rem;
    background-color: #f8f8f8;
    padding-top: 0rem;
    padding-bottom: 0rem;
    justify-content: center;
}

#side1{
    display: grid;
    position: relative;
    margin: 0;
    padding: 0;
    gap: 1rem;
    justify-self: center;
}

#side1 {
    grid-area: side1;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    align-items: stretch; 
    grid-template-areas: 
    "boxed1" "boxed2";
    width: 100%;
    
}


#box2 {
  grid-area: box2;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: max-content;
  grid-template-areas: "side2";
  margin: 0;
  gap: 0rem;
  background-color: #f8f8f8;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

#side2{
  display: grid;
  grid-area: side2;
  width: 100%;
  margin: 0.1rem;
}


/* ========== Footer ========== */

#side3 {
  grid-area: side3;
  display: grid;
  grid-template-columns: repeat(2,minmax(0, 1fr));
  grid-row: auto;
  justify-content: stretch;
  grid-template-areas: 
  "boxed3 boxed4" 
  "boxed5 boxed6";
  gap: 0rem;
}
#boxed3, #boxed4, #boxed5, #boxed6 {
  padding-top: 0.4rem;
}
}

/*=========Tablet Development/Small Desktops=======*/
@media (min-width: 481px) and (max-width: 1024px) {
  .maincontainer {
    grid-template-rows:
      max-content 
      minmax(20vh, 30vh)  /* Hero */
      max-content
      max-content
      max-content;               /* Footer */
    grid-template-areas:
    "navbar_layer"
    "cover"
    "box1"
    "box2"
    "footer";
  }

 #boxed {
    min-height: 20vh;
    height: 30vh;
    background-position: center 30%;
  }

  #side1 {
    
    width: 88%;
    
}

  /* ========== Typography ========== */
  h1 {
  font-size: 3rem;
  }

  h2{
    font-size: 0.9rem;
  }

  h3, h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.5rem;
  }

  h4 {
    font-size: 1.7rem;
  }

  .small_title{
    font-size: 1rem;
  }

  .nav_text{
    font-size: 2.4rem; 
  }

    /* map Features*/
  iframe{
  width:100%;
  height: clamp(20rem,4vh,30rem);

  }

}

/*================medium laptop Development===========*/
@media (min-width: 1025px)  and (max-width: 1599px){
  
}

@media (min-width: 1600px) {
  .maincontainer {
    grid-template-rows: 
      min-content
      minmax(30vh, 50vh)  /* Hero */
      max-content /* Box1 */
      max-content /* Box2 */
      1fr;               /* Footer */
  }

 #boxed {
    min-height: 30vh;
    height: 50vh;
    background-position: center 30%;
  }

  /* ========== Typography ========== */
  h1 {
  font-size: 7rem;
  }

  h2{
    font-size: 2rem;
  }

  h3, h5 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.7rem;
  }

  .small_title{
    font-size: 2rem;
  }

  .nav_text{
    font-size: 6rem;
  }

  /* map Features*/
iframe{
    width:100%;
    height: clamp(40rem,4vh,50rem);

}

}
