/* ========== Start-Global-Reset ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
/* ========== Ends-Global-Reset ========== */

/* ========== Starts-Layout ========== */
.maincontainer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows:
  max-content
  minmax(60vh, 90vh)  /* Hero */
  max-content
  max-content
  1fr; /* Footer */
  grid-template-areas:
    "navbar_layer" 
    "cover"
    "box1"
    "box2"
    "footer";
  background-color: #f8f8f8;
  overflow-x: hidden;
}
/* ========== Ends-Layout ========== */

/* ==========Start-Navbar ========== */
#nav_layer {
  grid-area: navbar_layer;
  position: fixed;
  width: 100%;
  z-index: 3;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  background: linear-gradient(to bottom, #2a2a2a, #1a1a1a);
  border-bottom: 0.0125em solid #000;
  box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.6);
}

nav ul {
  list-style: none;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: hotpink;
}

.active {
  background-color: #04AA6D;
  border-radius: 0.1em;
}
/* ========== Ends-Navbar ========== */

/* ========== Hero Section ========== */
#boxed {
  grid-area: cover;
  position: relative;
  width: 100%;
  min-height: clamp(40vh, 80vh, 100vh);
  background: url("../images/hazzy.jpg") center 40% / cover no-repeat;
  display: grid;
  grid-template-areas: "title";
  grid-column: 1fr;
  grid-row: 1fr;
}

.gray_layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(48, 44, 44);
  opacity: 0.5;
  z-index: 1;
}
#title{
  justify-content: center;
  align-content: center;
  color: white;
  z-index: 2;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

/* ========== Typography ========== */
h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

h2{
  font-size: 1.8rem;
  color: #000;
}

h3,h5,h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #444;
  font-weight: 400;
  line-height: 1.6;
}

h3, h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.6rem;
  line-height: 1.5;
}

h4 {
  font-size: 1.7rem;
  color: #000;
}

.small_title{
  font-size: 1.01rem;
  color: #000;
  line-height: 1;
}

.nav_text{
  font-size: 2rem;
  font-family: serif;
  text-align: center;
  }

#boxed1, #boxed2, #boxed3 {
    border: 0.125rem solid #5d5555;
    border-radius: 0.8rem;
    border-color: #000;
    box-shadow: 0.1rem 0.2rem 0.2rem #4a4545;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    transition: all 0.3s ease;
}

#boxed1:hover, #boxed2:hover, #boxed3:hover{
  transform: scale(1.03);
  box-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.6);

} 

/* ========== Box1 Section ========== */
#box1 {
  grid-area: box1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "side1 side2";
  margin: 0 10em;
  gap: 2rem;
  background-color: #f8f8f8;
  padding-top: 2rem;
}

#side1, #side2 {
  display: grid;
  position: relative;
  grid-template-columns: auto;
}

#side1 {
  grid-area: side1;
  grid-template-rows: max-content max-content;
  grid-template-areas: "picture1" "textv1";
  margin: 0;
  padding-top: 2em;
  row-gap: 1em;
  justify-content: end;
}

#side2 {
  grid-area: side2;
  grid-template-rows: max-content max-content max-content;
  grid-template-areas: 
    "textv3"
    "textv2"
    "picture2";

  margin: 0;
  padding: 0;
  justify-content: start;
  
}

#textv1, #textv2, #textv3 {
  text-align: start;
  height: fit-content;
}

#textv1{
  grid-area: textv1;
  width: clamp(13.25rem,25vw,36.5rem);
  margin-bottom: 1rem;
  
}

#textv2 {
  grid-area: textv2;
  width: clamp(13rem,25vw,36rem);
}

#textv3 {
  grid-area: textv3;
  width: clamp(12.5rem,25vw,35rem);
}

/* ========== Box2 Section ========== */
#box2 {
  grid-area: box2;
  display: grid;
  grid-template-areas: 
  "side3" 
  "side4";
  padding-top: 4rem;
  padding-bottom: 2rem;
  margin: 0;
  gap: 2rem;
  justify-content: center;
}

#side3, #side4 {
  display: grid;
  position: relative;
  justify-content: center;
}

#side3 {
  grid-area: side3;
  grid-template-areas: "titlev2";
}

#side4 {
  grid-area: side4;
  grid-template-columns: auto auto auto;
  grid-template-areas: "boxed1 boxed2 boxed3";
  align-items: stretch;
  height: fit-content;
  gap: 1rem;
  
}

#boxed1, #boxed2, #boxed3 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content min-content;
  justify-content: center;
  word-wrap: break-word;

  border: 0.125rem solid #5d5555;
  border-radius: 0.8rem;
  border-color: #000;
  box-shadow: 0.1rem 0.2rem 0.2rem #4a4545;
  width: clamp(9rem, 18vw, 28rem);
  transition: all 0.3s ease;
}

#boxed1 { 
grid-area: boxed1;
grid-template-areas: "picture3" "textv4";
}
#boxed2 { 
grid-area: boxed2;
grid-template-areas: "picture4" "textv5";
}

#boxed3 { 
grid-area: boxed3; 
grid-template-areas: "picture5" "textv6";

}

#textv4, #textv5, #textv6,#titlev2 {
  text-align: center;
}

#textv4{
  grid-area: textv4;
}

#textv5{
  grid-area: textv5;
}

#textv6{
  grid-area: textv6;
}

#titlev2 {
  grid-area: titlev2;
  width: clamp(15rem,30vw,40rem);
}

/* ========== Images ========== */
#picture1, #picture2{
  background-size: cover;
  background-position: center;
  position: relative;
  border: 0.125rem solid #5d5555;
  border-radius: 0.8rem;
  border-color: #000;
  box-shadow: 0.1rem 0.2rem 0.2rem #4a4545;
  transition: all 0.3s ease;

  height: clamp(21.5rem,43vh,55rem);
  width: clamp(12.5rem,25vw,35rem);
}

#picture1 {
  grid-area: picture1;
  background-image: url("../images/flowers.jpg");
}

#picture2 {
  grid-area: picture2;
  background-image: url("../images/HIP_FOOD.jpg");
}

#picture1:hover, #picture2:hover{
  transform: scale(1.03);
  box-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.6);

} 

#picture3, #picture4, #picture5 {
  position: relative;
  background-size: cover;
  background-position: center;
  height: clamp(10rem,25vh,25rem);
  width: 100%;
  border-radius: 0.8rem 0.8rem 0rem 0rem;
  border-bottom: 0.1rem solid;
  border-image: linear-gradient(to right, #000, #4a4a4a, #000) 1;
  margin-bottom: 0rem;
  padding-bottom: 0rem;

}
#picture3 {
  grid-area: picture3;
  background-image: url("../images/pennstate.jpg");
}

#picture4 {
  grid-area: picture4;
  background-image: url("../images/integration.webp");
}

#picture5 {
  grid-area: picture5;
  background-image: url("../images/park.webp");
}

/* ========== Footer ========== */
#footer {
  grid-area: footer;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  grid-template-areas: "side5";
  padding-top: 1rem;
  padding-bottom: 5em;
}

#side5 {
  grid-area: side5;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row: auto;
  gap: 1em;
  padding-top: 4rem;
  justify-content: center;
  grid-template-areas: "boxed4 boxed5 boxed6 boxed7";
}

#boxed4, #boxed5, #boxed6, #boxed7 {
  display: grid;
  width: clamp(7.5rem, 15vw, 25rem);
  grid-template-columns: auto;
  grid-template-rows: auto;

  text-align: center;
  height: fit-content;
  word-wrap: break-word;
}

#boxed4{
  grid-area: boxed4;
}

#boxed5{
  grid-area: boxed5;
}

#boxed6{
  grid-area: boxed6;
}

#boxed7{
  grid-area: boxed7;
}

/*================Mobile Development===========*/
@media (max-width: 480px) {
  .maincontainer {
    grid-template-rows: 
    max-content
    minmax(40vh, 50vh)  /* Hero */
    max-content /* Box1 */
    max-content /* Box2 */
    1fr;               /* Footer */
    row-gap: 2rem;
  }


 #boxed {
    min-height: 40vh;
    height: 50vh;
    background-position: center 30%;
  }

  /* ========== Typography ========== */
  h1 {
  font-size: 2rem;
  }

  h2{
    font-size: 1.6rem;
  }

  h3, h5 {
    font-size: 0.8rem;
  }

  h6 {
    font-size: 0.6rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  .small_title{
    font-size: 1.01rem;
  }

  .nav_text{
    font-size: 2rem;
  }
  
  /* ========== Box1 Section ========== */
  #box1 {
  grid-area: box1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  grid-template-areas: "side2" "side1";
  margin: 0.1rem;
  gap: 1rem;
  background-color: #f8f8f8;
  padding-top: 2rem;
  justify-content: center;
  }

  #side1, #side2 {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  justify-content: center;
  }

  #side1 {
  grid-area: side1;
  grid-template-rows: max-content max-content;
  grid-template-areas: "picture1" "textv1";
  margin: 0.1rem;
  padding-top: 2em;
  row-gap: 1em;
  }

  #side2 {
  grid-area: side2;
  grid-template-rows: max-content max-content max-content;
  grid-template-areas: 
    "textv3"
    "textv2"
    "picture2";

  margin: 0rem;
  padding: 0rem;
  }

  #textv1, #textv2, #textv3 {
  text-align: center;
  height: fit-content;
  width: 100%;
  justify-self: center;
  }

  #textv1{
  grid-area: textv1;
  /* width: clamp(13.25rem,25vw,36.5rem); */
  margin-bottom: 1rem;

  }

  #textv2 {
  grid-area: textv2;
  /* width: clamp(13rem,25vw,36rem); */
  }

  #textv3 {
  grid-area: textv3;
  /* width: clamp(12.5rem,25vw,35rem); */
}


/* ========== Box2 Section ========== */
#box2 {
  grid-area: box2;
  display: grid;
  grid-template-areas: 
  "side3" 
  "side4";
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin: 0rem;
  gap: 1rem;
  justify-content: center;
  grid-template-columns: 1fr;
  margin-top: 1rem;
  
}

#side3, #side4 {
  display: grid;
  position: relative;
  justify-content: center;
  grid-template-columns: 1fr;
}

#side3 {
  grid-area: side3;
  grid-template-areas: "titlev2";
}

#side4 {
  grid-area: side4;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas: 
  "boxed1"
  "boxed2"
  "boxed3";
  align-items: stretch;
  height: fit-content;
  gap: 1rem;
  
}

#boxed1, #boxed2, #boxed3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  justify-content: center;
  word-wrap: break-word;

  border: 0.125rem solid #5d5555;
  border-radius: 0.1rem;
  border-color: #000;
  box-shadow: 0.1rem 0.2rem 0.2rem #4a4545;
  width: 90%;
  transition: all 0.3s ease;
  justify-self: center;
}

#boxed1 { 
grid-area: boxed1;
grid-template-areas: "picture3" "textv4";
}
#boxed2 { 
grid-area: boxed2;
grid-template-areas: "picture4" "textv5";
}

#boxed3 { 
grid-area: boxed3; 
grid-template-areas: "picture5" "textv6";

}

#textv4, #textv5, #textv6,#titlev2 {
  text-align: center;
}

#textv4{
  grid-area: textv4;
}

#textv5{
  grid-area: textv5;
}

#textv6{
  grid-area: textv6;
}

#titlev2 {
  grid-area: titlev2;
  width: 100%;
}


/* ========== Images ========== */
#picture1, #picture2{
  background-size: cover;
  background-position: center;
  position: relative;
  border: 0.125rem solid #5d5555;
  border-radius: 0.2rem;
  border-color: #000;
  box-shadow: 0.1rem 0.2rem 0.2rem #4a4545;
  transition: all 0.3s ease;
  width: 100%;
  height: clamp(21.5rem,43vh,55rem);
  justify-self: center;
}

#picture1 {
  grid-area: picture1;
  background-image: url("../images/flowers.jpg");
}

#picture2 {
  grid-area: picture2;
  background-image: url("../images/HIP_FOOD.jpg");
}

#picture1:hover, #picture2:hover{
  transform: scale(1.03);
  box-shadow: 0.2rem 0.3rem 0.4rem rgba(0, 0, 0, 0.6);

} 

#picture3,#picture4,#picture5{
  border-radius: 0.1rem;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: all 0.3s ease;
  width: 100%;
  height: clamp(21.5rem,43vh,55rem);
  justify-self: center;
}

/* ========== Footer ========== */
#footer {
  grid-area: footer;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  grid-template-areas: "side5";
  padding-top: 1rem;
  padding-bottom: 5em;
}

#side5 {
  grid-area: side5;
  display: grid;
  grid-template-columns: auto auto;
  grid-row: auto auto;
  gap: 1em;
  padding-top: 4rem;
  justify-content: center;
  grid-template-areas: 
  "boxed4 boxed5" 
  "boxed6 boxed7";
}

#boxed4, #boxed5, #boxed6, #boxed7 {
  display: grid;
  width: clamp(7.5rem, 15vw, 25rem);
  grid-template-columns: auto;
  grid-template-rows: auto;
  width: 100%;

  text-align: center;
  height: fit-content;
  word-wrap: break-word;
}

#boxed4{
  grid-area: boxed4;
}

#boxed5{
  grid-area: boxed5;
}

#boxed6{
  grid-area: boxed6;
}

#boxed7{
  grid-area: boxed7;
}
}

/*=========Tablet Development/Small Desktops=======*/
@media (min-width: 481px) and (max-width: 1024px) {
  .maincontainer {
    grid-template-rows:
      max-content 
      minmax(30vh, 50vh)  /* Hero */
      max-content
      max-content
      1fr;               /* Footer */
  }

 #boxed {
    min-height: 30vh;
    height: 50vh;
    background-position: center 30%;
  }

  /* ========== Typography ========== */
  h1 {
  font-size: 3rem;
  }

  h2{
    font-size: 2rem;
  }

  h3, h5 {
    font-size: 1.1rem;
  }

  h6 {
    font-size: 0.8rem;
  }

  h4 {
    font-size: 1.7rem;
  }

  .small_title{
    font-size: 1.4rem;
  }

  .nav_text{
    font-size: 2.4rem; 
  }

/* ========== Box1 Section ========== */
#box1 {
  grid-area: box1;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-areas: "side1 side2";
  margin: 0 1rem;
  gap: 1rem;
  background-color: #f8f8f8;
  padding-top: 2rem;
}

#side1, #side2 {
  display: grid;
  position: relative;
}

#side1 {
  grid-area: side1;
  grid-template-columns: auto;
  grid-template-rows: max-content max-content;
  grid-template-areas: "picture1" "textv1";
  margin: 0rem;
  padding-top: 2rem;
  row-gap: 1em;

}

#side2 {
  grid-area: side2;
  grid-template-columns: auto;
  grid-template-rows: max-content max-content max-content;
  grid-template-areas:  
    "textv3"
    "textv2"
    "picture2";

  margin: 0;
  padding: 0;
  
}

#textv1, #textv2, #textv3 {
  text-align: start;
  height: fit-content;
}

  #textv1{
    width: 100%;
  }

  #textv2 {
    width: 100%;
  }

  #textv3 {
    width: 100%;
  }

 /* ========== Box2 Section ========== */
#box2 {
  grid-area: box2;
  display: grid;
  grid-template-areas: 
  "side3" 
  "side4";
  padding-top: 4rem;
  padding-bottom: 2rem;
  margin: 0;
  gap: 2rem;
  justify-content: center;
  grid-template-columns: 1fr;
  
}

#side3, #side4 {
  display: grid;
  position: relative;
  justify-content: center;
}

#side3 {
  grid-area: side3;
  grid-template-areas: "titlev2";
  grid-template-columns: 1fr;
  justify-self: center;
}

#side4 {
  grid-area: side4;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "boxed1 boxed2 boxed3";
  align-items: stretch;
  height: fit-content;
  gap: 1rem;
  margin: 0.1rem;
  
}

#boxed1, #boxed2, #boxed3 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content min-content;
  justify-content: center;
  word-wrap: break-word;

  border: 0.125rem solid #5d5555;
  border-radius: 0.8rem;
  border-color: #000;
  box-shadow: 0.1rem 0.2rem 0.2rem #4a4545;
  justify-self: stretch;
  transition: all 0.3s ease;
  width: 100%;
}

#boxed1 { 
grid-area: boxed1;
grid-template-areas: "picture3" "textv4";
}
#boxed2 { 
grid-area: boxed2;
grid-template-areas: "picture4" "textv5";
}

#boxed3 { 
grid-area: boxed3; 
grid-template-areas: "picture5" "textv6";

}

#textv4, #textv5, #textv6,#titlev2 {
  text-align: center;
}

#textv4{
  grid-area: textv4;
}

#textv5{
  grid-area: textv5;
}

#textv6{
  grid-area: textv6;
}

#titlev2 {
  grid-area: titlev2;
  width: 50%;
  justify-self: center;
}

/* ========== Images ========== */

#picture3, #picture4, #picture5 {
  position: relative;
  background-size: cover;
  background-position: center;
  height: clamp(10rem,25vh,25rem);
  width: 100%;
  border-radius: 0.8rem 0.8rem 0rem 0rem;
  border-bottom: 0.1rem solid;
  border-image: linear-gradient(to right, #000, #4a4a4a, #000) 1;
  margin-bottom: 0rem;
  padding-bottom: 0rem;

}
#picture3 {
  grid-area: picture3;
  background-image: url("../images/pennstate.jpg");
}

#picture4 {
  grid-area: picture4;
  background-image: url("../images/integration.webp");
}

#picture5 {
  grid-area: picture5;
  background-image: url("../images/park.webp");
}

/* ========== Footer ========== */
#footer {
  grid-area: footer;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  grid-template-areas: "side5";
  padding-top: 1rem;
  padding-bottom: 5em;
  margin: 0rem;
}

#side5 {
  grid-area: side5;
  display: grid;
  grid-template-columns: min-content;
  grid-row: auto;
  gap: 1em;
  padding-top: 4rem;
  justify-content: center;
  grid-template-areas: "boxed4 boxed5 boxed6 boxed7";
  margin: 0rem;
}

#boxed4, #boxed5, #boxed6, #boxed7 {
  display: grid;
  width: 100%;
  grid-template-columns: min-content;
  grid-template-rows: auto;

  text-align: center;
  height: fit-content;
  word-wrap: break-word;
  margin: 0rem;
}

#boxed4{
  grid-area: boxed4;
}

#boxed5{
  grid-area: boxed5;
}

#boxed6{
  grid-area: boxed6;
}

#boxed7{
  grid-area: boxed7;
}


/* ========== Utility Classes ========== */

  #picture1 {
    height: clamp(5rem,20vh,55rem);
    width:100%;
  }

  #picture2 {
    height: clamp(5rem,20vh,55rem);
    width:100%;
  }

  #picture3 {
    height: clamp(5rem,20vh,55rem);
    width:100%;
  }

  #picture4 {
    height: clamp(5rem,20vh,55rem);
    width:100%;
  }

  #picture5 {
    height: clamp(5rem,20vh,55rem);
    width:100%;
  }
}

/*================medium laptop Development===========*/
@media (min-width: 1025px)  and (max-width: 1599px){
  
}

@media (min-width: 1600px) {
  .maincontainer {
    grid-template-rows: 
      min-content
      minmax(55vh, 70vh)  /* Hero */
      max-content max-content /* Box1 */
      max-content max-content /* Box2 */
      1fr;               /* Footer */
  }
 #boxed {
    min-height: 50vh;
    height: 65vh;
    background-position: center 30%;
  }




  /* ========== Footer ========== */
  #footer {
  grid-area: footer;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  grid-template-areas: "side5";
  padding-top: 1rem;
  padding-bottom: 5em;
  margin: 0rem;
  justify-content: center;
}

#side5 {
  grid-area: side5;
  display: grid;
  grid-template-columns: min-content;
  grid-row: auto;
  gap: 3rem;
  padding-top: 4rem;
  justify-content: center;
  grid-template-areas: "boxed4 boxed5 boxed6 boxed7";
  margin: 0rem;
}

#boxed4, #boxed5, #boxed6, #boxed7 {
  display: grid;
  width: 100%;
  grid-template-columns: min-content;
  grid-template-rows: auto;
  text-align: center;
  height: fit-content;
  word-wrap: break-word;
  margin: 0rem;
}

#boxed4{
  grid-area: boxed4;
}

#boxed5{
  grid-area: boxed5;
}

#boxed6{
  grid-area: boxed6;
}

#boxed7{
  grid-area: boxed7;
}


  /* ========== Typography ========== */
  h1 {
  font-size: 7rem;
  }

  h2{
    font-size: 3rem;
  }

  h3, h5 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.7rem;
  }

  .small_title{
    font-size: 2rem;
  }

  .nav_text{
    font-size: 6rem;
  }

   /* ========== Images ========== */
#picture1 {
    height: clamp(20rem,30vh,50rem);
  }

#picture2 {
    height: clamp(20rem,30vh,50rem);
  }
  
}